<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "base.html" %}
{% load static %}

{% block title %}Donate{% endblock %}

{% block extrastyle %}
<link rel=StyleSheet type="text/css" href="{% static '/css/donate.css' %}">
{% endblock %}

{% block content %}

<button onclick="lightCandle({{ view.loop_times|last }})">DONATE</button>

<button onclick="clearCandles({{ view.loop_times|last }})">CLEAR</button>

<div class="l-wrap">
    <div class="grid">
        {% for i in view.loop_times %}
            <div class="grid-item">
                <img src="{% static '/images/candle-red.png' %}" class="candle" id="candle_{{ forloop.counter }}">
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static '/js/donate.js' %}"></script>

{% endblock %}
