<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "base.html" %}
{% load static %}

{% block title %}Donate{% endblock %}

{% block extrastyle %}
<link rel=StyleSheet type="text/css" href="{% static '/css/donate.css' %}">
{% endblock %}

{% block content %}

<div class="l-wrap">
    <div class="grid">
        <div class="grid-item" id="1">
            <img src="{% static '/images/candle-red.png' %}" class="candle">
        </div>
        <div class="grid-item" id="2">
            <img src="{% static '/images/candle-white.png' %}" class="candle">
        </div>    
        <div class="grid-item" id="3">
            <img src="{% static '/images/candle-blue.png' %}" class="candle">
        </div>
        <div class="grid-item" id="4">
            <img src="{% static '/images/candle-red.png' %}" class="candle">
        </div>
        <div class="grid-item" id="5">
            <img src="{% static '/images/candle-white.png' %}" class="candle">
        </div>    
        <div class="grid-item" id="6">
            <img src="{% static '/images/candle-blue.png' %}" class="candle">
        </div>
        <div class="grid-item" id="7">
            <img src="{% static '/images/candle-red.png' %}" class="candle">
        </div>
        <div class="grid-item" id="8">
            <img src="{% static '/images/candle-white.png' %}" class="candle">
        </div>    
        <div class="grid-item" id="9">
            <img src="{% static '/images/candle-blue.png' %}" class="candle">
        </div>
        <div class="grid-item" id="10">
            <img src="{% static '/images/candle-red.png' %}" class="candle">
        </div>
        <div class="grid-item" id="11">
            <img src="{% static '/images/candle-white.png' %}" class="candle">
        </div>    
        <div class="grid-item" id="12">
            <img src="{% static '/images/candle-blue.png' %}" class="candle">
        </div> 
        <div class="grid-item" id="13">
            <img src="{% static '/images/candle-red.png' %}" class="candle">
        </div>
        <div class="grid-item" id="14">
            <img src="{% static '/images/candle-white.png' %}" class="candle">
        </div>    
        <div class="grid-item" id="15">
            <img src="{% static '/images/candle-blue.png' %}" class="candle">
        </div>                       
    </div>
</div>

{% endblock %}
