<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "base.html" %}
{% load static %}

{% block title %}Collection Plate{% endblock %}

{% block extrastyle %}
<link rel=StyleSheet type="text/css" href="{% static '/css/donate.css' %}">
{% endblock %}

{% block content %}

<div class="l-wrap">
    <div class="grid">
        {% for candle in view.choose_candle %}
            <div class="grid-item">
                <img src="{% static candle %}" class="candle" id="candle_{{ forloop.counter }}">
            </div>
        {% endfor %}
    </div>

    <button onclick="lightCandle({{ view.loop_times|last }})">DONATE</button>
    <br>
    <button onclick="clearCandles({{ view.loop_times|last }})">CLEAR</button>
</div>    

<script src="{% static '/js/donate.js' %}"></script>

{% endblock %}
