<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "photologue/photo_detail.html" %}
{% load gallery_tags %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}

<div class="row">
    <div class="left-pane">
        {% previous_in_gallery object view.gallery %}
    </div>
    <div class="img-pane">
        <img src="{{ object.image.url }}" class="display" alt="{{ object.title }}">
    </div>
    <div class="right-pane">
        {% next_in_gallery object view.gallery %}
    </div>
</div>

{% endblock %}
