<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "photologue/root.html" %}
{% load gallery_tags %}
{% load static %}

{% block title %}{{ object.title }}{% endblock %}

{% block extrastyle %}
<link rel=StyleSheet type="text/css" href="{% static '/css/image-detail.css' %}">
<link rel="StyleSheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}

<div class="outer-container">
    <div class="inner-container" id="panel">
        <div class="centered-content">
            {% previous_in_gallery object view.gallery %}
        </div>
    </div>
    <div class="inner-container" id="center">
        <div class="centered-content">
            <img src="{{ object.image.url }}" class="img-detail" alt="{{ object.title }}">
        </div>
    </div>
    <div class="inner-container" id="panel">
        <div class="centered-content">
            {% next_in_gallery object view.gallery %}
        </div>
    </div>
</div>    

{% endblock %}
