<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="index">
    
    <h1>Markworld</h1>

    <h2>Most Grungest Web-Dive This Side of The Great Online E-Ghetto Called WWW</h2>

    <h3>Never Pander, Like, Ever</h3>

    <h1>___________________________</h1>

    <a href="{% url 'gallery-list' %}">      
        <h1>Galleries</h1>
    </a>

    <a href="{% url 'donate' %}">      
        <h1>Donate</h1>
    </a>

</div>

{% endblock %}
