<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extrastyle %}
<link rel=StyleSheet type="text/css" href="{% static '/css/index.css' %}">
{% endblock %}

{% block content %}

<div class="index">
    
    <div class="img-top">
        <img src="{% static '/images/homepage/photo5.jpg' %}" class="img-detail">
    </div>
    

    <h1>
        <a class="nav-link" href="{% url 'gallery-list' %}">SORCERER</a>
        <a class="nav-link" href="{% url 'donate' %}">Collection Plate</a>
    </h1>

</div>

{% endblock %}
