body {
  background: #000;
  font-family: "Courier", monotype;
  color: #ed140e;
  margin: 0;
}  


/* div selectors for index */

.index {
  text-align: center;
}  


/* a selectors */

a {
  color: #ed140e;
}  
