/* grid rules */
/* grid layout inspired by Zell Liew */
/* https://zellwk.com/blog/responsive-grid-system/ */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: after;
}    

.l-wrap {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.grid .grid-item {
  width: 20%;
  float: left;
}  

.grid:after {
  display: table;
  clear: both;
  content: '';
}  


/* img selectors */
/* fade-in inspired by C. Bavota */
/* https://bavotasan.com/2011/a-simple-fade-with-css3/ */

.candle {
  max-width: 100%;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
