body {
  background: #000;
  font-family: "Courier", monotype;
  color: #ed140e;
  margin: 0;
}


/* div selectors gallery-list */

.bookshelf {
  margin: 2em;
}  

.book {
  margin: 0;
  margin-right: 2em;
  display: inline-block;
}  

.cover-image-box {
  margin: 0;
  align: center;
}

.gallery-title-box {
  margin: 0;
  margin-top: 1em;
  align: center;
}

/* div selectors image-detail */

.outer-container {
  position : absolute;
  display: table;
  width: 100%;
  height: 100%;
}

.inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered-content {
  display: inline-block;
  text-align: left;
  padding : 20px;
}

#panel {
  position:fixed;
  width: 10%;
  top: 50%;
  margin-top: -64px;
}

#center {
  width: 80%;
}    


/* img selectors */

.img-detail {
  max-height: 100%;
  max-width: 100%;
}


/* p selectors */

p {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.gallery-title {
  font-size: 1em;
}
