body {
  background: #000;
  font-family: "Courier", monotype;
  color: #ed140e;
}


/* div selectors */

.bookshelf {
  margin: 2em;
}  

.book {
  margin: 0;
  margin-right: 2em;
  display: inline-block;
}  

.cover-image-box {
  margin: 0;
  align: center;
}

.gallery-title-box {
  margin: 0;
  margin-top: 1em;
  align: center;
}

.img-pane {
  width: 100%;
  height: auto;
}

/* img selectors 

.img-detail {
  width: 100%;
  height: auto;
}


/* p selectors */

p {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.gallery-title {
  font-size: 1em;
}  
